/* Frame 1000004045 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 1px;

position: absolute;
width: 414px;
height: 11273px;
left: 0px;
top: 90px;



/* Frame 1000004044 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 414px;
height: 892px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 175 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 48px 24px;
gap: 10px;

width: 414px;
height: 758px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 177 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

width: 366px;
height: 662px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 176 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 366px;
height: 258px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1000004043 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 366px;
height: 122px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* SOCIAL PROOF #1 */

width: 136px;
height: 24px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Dream outcome and 'what's in it for me' */

width: 366px;
height: 82px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 120%;
/* or 41px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* "Stop doing X" | "No more Y" | "Pain Point". Our solution does X, Y, Z (articulate main benefit you provide & explain how you do what you mentioned in the headline in a proprietary or unique way). */

width: 366px;
height: 120px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1000004042 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 366px;
height: 118px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 6480 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

width: 366px;
height: 78px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 854 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 56px;
gap: 10px;

width: 366px;
height: 78px;

background: #8A31FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* MAIN ACTION TO TAKE */

width: 220px;
height: 30px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* REDUCE Friction and FUDs */

width: 366px;
height: 24px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003994 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 80px 157px;
gap: 10px;

width: 366px;
height: 238px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Image or video that helps reinforce core value proposition and articulate what it is you do */

width: 322px;
height: 78px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 130%;
/* or 26px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003976 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 48px 0px;
gap: 10px;

width: 414px;
height: 134px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003980 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 243px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1370 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 243px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SOCIAL PROOF #2 */

width: 243px;
height: 38px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 120%;
/* or 38px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 202 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 414px;
height: 632px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 186 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 48px 24px;
gap: 10px;

width: 414px;
height: 632px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 112 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 536px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Address the largest pain point that you solve and the "old way" while also tying in your unique benefit */

width: 366px;
height: 200px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 120%;
/* or 40px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Use this section to paint a vivid picture of the ideal prospects pain points and expose the flaws of the status quo to acknowledge you know what they are going through. Complement this with your unique value prop and differentiator. */

width: 366px;
height: 210px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* or 30px */

/* BodyTextNew */
color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 6480 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 366px;
height: 78px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 854 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 56px;
gap: 10px;

width: 366px;
height: 78px;

background: #8A31FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* MAIN ACTION TO TAKE */

width: 220px;
height: 30px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004045 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 414px;
height: 1320px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 186 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 48px 24px;
gap: 10px;

width: 414px;
height: 1320px;

background: #EBEBEB;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 112 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 1224px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Social Proof Section (Stats, Testimonials, Case Studies, etc.) */

width: 366px;
height: 120px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 120%;
/* or 40px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003994 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Social Proof */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003995 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Social Proof */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003996 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Social Proof */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003997 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 56px;
gap: 10px;

width: 366px;
height: 75px;

background: #8A31FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* MAIN ACTION TO TAKE */

width: 198px;
height: 27px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

color: #EBEBEB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 186 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 48px 37px 24px;
gap: 10px;

width: 414px;
height: 667px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 187 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 595px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003994 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 80px 157px;
gap: 10px;

width: 366px;
height: 280px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Image or video that helps reinforce core value proposition and articulate what it is you do */

width: 322px;
height: 78px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 130%;
/* or 26px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004050 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 366px;
height: 291px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 114 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 184px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 112 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 366px;
height: 184px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1000004049 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 366px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* DREAM OUTCOME SUMMARY */

width: 366px;
height: 24px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #333333;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Value prop and Big Benefit #1 ("WIIFM") */

width: 366px;
height: 64px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 120%;
/* or 32px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Our solution does X, Y, Z (articulate main benefit you provide & explain how you do it in a proprietary or unique way). */

width: 366px;
height: 72px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* BodyTextNew */
color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003997 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 56px;
gap: 10px;

width: 366px;
height: 75px;

background: #8A31FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* MAIN ACTION TO TAKE */

width: 198px;
height: 27px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

color: #EBEBEB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004046 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 48px 37px 24px;
gap: 10px;

width: 414px;
height: 667px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Frame 187 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 595px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003994 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 80px 157px;
gap: 10px;

width: 366px;
height: 280px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Image or video that helps reinforce core value proposition and articulate what it is you do */

width: 322px;
height: 78px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 130%;
/* or 26px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004050 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 366px;
height: 291px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 114 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 184px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 112 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 366px;
height: 184px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1000004049 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 366px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* DREAM OUTCOME SUMMARY */

width: 366px;
height: 24px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #333333;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Value prop and Big Benefit #2 ("WIIFM") */

width: 366px;
height: 64px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 120%;
/* or 32px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Our solution does X, Y, Z (articulate main benefit you provide & explain how you do it in a proprietary or unique way). */

width: 366px;
height: 72px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* BodyTextNew */
color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003997 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 56px;
gap: 10px;

width: 366px;
height: 75px;

background: #8A31FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* MAIN ACTION TO TAKE */

width: 198px;
height: 27px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

color: #EBEBEB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004047 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 48px 37px 24px;
gap: 10px;

width: 414px;
height: 667px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Frame 187 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 595px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003994 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 80px 157px;
gap: 10px;

width: 366px;
height: 280px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Image or video that helps reinforce core value proposition and articulate what it is you do */

width: 322px;
height: 78px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 130%;
/* or 26px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004050 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 366px;
height: 291px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 114 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 184px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 112 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 366px;
height: 184px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1000004049 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 366px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* DREAM OUTCOME SUMMARY */

width: 366px;
height: 24px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #333333;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Value prop and Big Benefit #3 ("WIIFM") */

width: 366px;
height: 64px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 120%;
/* or 32px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Our solution does X, Y, Z (articulate main benefit you provide & explain how you do it in a proprietary or unique way). */

width: 366px;
height: 72px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* BodyTextNew */
color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003997 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 56px;
gap: 10px;

width: 366px;
height: 75px;

background: #8A31FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* MAIN ACTION TO TAKE */

width: 198px;
height: 27px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

color: #EBEBEB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004049 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 414px;
height: 650px;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* Frame 186 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 48px 24px;
gap: 10px;

width: 414px;
height: 650px;

background: #EBEBEB;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 112 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 554px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Social Proof Section (Stats, Testimonials, Case Studies, etc.) */

width: 366px;
height: 120px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 120%;
/* or 40px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003994 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Social Proof */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003997 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 56px;
gap: 10px;

width: 366px;
height: 75px;

background: #8A31FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* MAIN ACTION TO TAKE */

width: 198px;
height: 27px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

color: #EBEBEB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004050 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 414px;
height: 2365px;


/* Inside auto layout */
flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;


/* Frame 186 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 48px 24px;
gap: 10px;

width: 414px;
height: 2365px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 112 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 2269px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Benefit Driven headline - how you do it as well as what makes you different */

width: 366px;
height: 160px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 120%;
/* or 40px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003994 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Differentiator #1 */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003995 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Differentiator #2 */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003996 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Differentiator #3 */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003998 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Differentiator #4 */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003999 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Differentiator #5 */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004000 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* Differentiator #6 */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003997 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 56px;
gap: 10px;

width: 366px;
height: 75px;

background: #8A31FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;


/* MAIN ACTION TO TAKE */

width: 198px;
height: 27px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

color: #EBEBEB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004051 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 414px;
height: 1400px;


/* Inside auto layout */
flex: none;
order: 8;
align-self: stretch;
flex-grow: 0;


/* Frame 186 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 48px 24px;
gap: 10px;

width: 414px;
height: 1400px;

background: #EBEBEB;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 112 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 1304px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* How it works? {Make the perceived likelihood of achieving success high and effortless} */

width: 366px;
height: 200px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 120%;
/* or 40px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003994 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Step #1 */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003998 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Step #2 */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003999 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 140px 157px;
gap: 10px;

width: 366px;
height: 311px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Step #3 */

width: 322px;
height: 31px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003997 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 56px;
gap: 10px;

width: 366px;
height: 75px;

background: #8A31FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* MAIN ACTION TO TAKE */

width: 198px;
height: 27px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

color: #EBEBEB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003976 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 48px 0px;
gap: 10px;

width: 414px;
height: 134px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 9;
flex-grow: 0;


/* Frame 1000003980 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 243px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1370 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 243px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SOCIAL PROOF #2 */

width: 243px;
height: 38px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 120%;
/* or 38px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004052 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 414px;
height: 837px;


/* Inside auto layout */
flex: none;
order: 10;
align-self: stretch;
flex-grow: 0;


/* Frame 186 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 48px 24px;
gap: 10px;

width: 414px;
height: 837px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 112 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 741px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frequently Asked Questions */

width: 366px;
height: 80px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 120%;
/* or 40px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 21 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 366px;
height: 538px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 19 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 63px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 21px;

width: 366px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 17 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 333px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 16 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 19px;

width: 140px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Question #1 */

width: 140px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 164%;
/* or 39px */

/* Dark blue */
color: #241B41;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 12px;
height: 8px;

background: #333333;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 1 */

width: 366px;
height: 0px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 20 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 63px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 21px;

width: 366px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 17 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 333px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 16 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 19px;

width: 144px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Question #2 */

width: 144px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 164%;
/* or 39px */

/* Dark blue */
color: #241B41;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 12px;
height: 8px;

background: #333333;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 1 */

width: 366px;
height: 0px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 28 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 63px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 21px;

width: 366px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 17 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 333px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 16 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 19px;

width: 144px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Question #3 */

width: 144px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 164%;
/* or 39px */

/* Dark blue */
color: #241B41;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 12px;
height: 8px;

background: #333333;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 1 */

width: 366px;
height: 0px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 29 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 63px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 21px;

width: 366px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 17 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 333px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 16 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 19px;

width: 145px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Question #4 */

width: 145px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 164%;
/* or 39px */

/* Dark blue */
color: #241B41;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 12px;
height: 8px;

background: #333333;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 1 */

width: 366px;
height: 0px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 30 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 63px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 21px;

width: 366px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 17 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 333px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 16 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 19px;

width: 144px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Question #5 */

width: 144px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 164%;
/* or 39px */

/* Dark blue */
color: #241B41;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 12px;
height: 8px;

background: #333333;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 1 */

width: 366px;
height: 0px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 21 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 63px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 21px;

width: 366px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 17 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 333px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 16 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 19px;

width: 145px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Question #6 */

width: 145px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 164%;
/* or 39px */

/* Dark blue */
color: #241B41;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 12px;
height: 8px;

background: #333333;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 1 */

width: 366px;
height: 0px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003997 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 56px;
gap: 10px;

width: 366px;
height: 75px;

background: #8A31FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* MAIN ACTION TO TAKE */

width: 198px;
height: 27px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
text-align: center;

color: #EBEBEB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004053 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 48px 37px 24px;
gap: 10px;

width: 414px;
height: 896px;

background: #EBEBEB;

/* Inside auto layout */
flex: none;
order: 11;
flex-grow: 0;


/* Frame 187 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 824px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000003994 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 80px 157px;
gap: 10px;

width: 366px;
height: 280px;

background: #FFFFFF;
border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Image or video that helps reinforce core value proposition and articulate what it is you do */

width: 322px;
height: 78px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 130%;
/* or 26px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1000004050 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 366px;
height: 520px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 114 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 366px;
height: 370px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 112 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 366px;
height: 240px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1000004049 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 366px;
height: 128px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* SOCIAL PROOF #1 */

width: 366px;
height: 24px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #333333;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Final recap - why should people take action today (create urgency) */

width: 366px;
height: 96px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 120%;
/* or 32px */

/* Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Articulate the one final reason that people should get in touch and reach out to your company for your services or product. This is your last chance to grab their attention. */

width: 366px;
height: 96px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

/* BodyTextNew */
color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 6969 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 366px;
height: 106px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 6966 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 366px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003858 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px;
gap: 10px;

width: 24px;
height: 24px;

background: #CCCCCC;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Check */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Check */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 18.75%;
right: 15.62%;
top: 28.12%;
bottom: 28.13%;

border: 1.125px solid #000000;


/* Value Prop #1 */

width: 326px;
height: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */

color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 6967 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 366px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003858 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px;
gap: 10px;

width: 24px;
height: 24px;

background: #CCCCCC;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Check */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Check */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 18.75%;
right: 15.62%;
top: 28.12%;
bottom: 28.13%;

border: 1.125px solid #000000;


/* Value Prop #2 */

width: 326px;
height: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */

color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 6965 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 366px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 1000003858 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px;
gap: 10px;

width: 24px;
height: 24px;

background: #CCCCCC;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Check */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Check */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 18.75%;
right: 15.62%;
top: 28.12%;
bottom: 28.13%;

border: 1.125px solid #000000;


/* Value Prop #3 */

width: 326px;
height: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */

color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1000004042 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 366px;
height: 118px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 6480 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

width: 366px;
height: 78px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 854 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 56px;
gap: 10px;

width: 366px;
height: 78px;

background: #8A31FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* MAIN ACTION TO TAKE */

width: 220px;
height: 30px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* REDUCE Friction and FUDs */

width: 366px;
height: 24px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #333333;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1000004054 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 48px 0px;
gap: 10px;

width: 414px;
height: 134px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 12;
flex-grow: 0;


/* Frame 1000003980 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 112px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1370 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 112px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* FOOTER */

width: 112px;
height: 38px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 120%;
/* or 38px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
